@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,800;1,400;1,800&display=swap');
body,html{
    margin: 0;
    padding: 0;
     font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.login-placeholder{
     position: fixed;
  top: 50%;
  left: 50%;
    justify-content: center;
    width: 350px;
    height: 100px;
  margin-top: -50px;
    font-weight: 400;
  margin-left: -100px;
}

.login-placeholder button{
    background-color: #2d6880 !important;
  color: white!important;
  padding: 10px!important;
   border:none;
  border-radius: 20px!important;
  cursor: pointer!important;
  position: relative;
  margin-top: 15px;
  display: block;
}



.sidebar {
  height: 100vh;
  width: 240px;
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .9)), url("../../static/img/starwars.jpg");
  background-position: center;
  background-repeat: no-repeat;

  background-size: cover;
  box-shadow: 5px 7px 25px #2d6880;
}
.department{
  color: #bab2b0 !important;
  font-size: 15px !important;
}
.dash-title{
padding-left: 20px;
  font-size: 20px;
}

.bottom-border {
  border-bottom: 1px groove #2d6880;
}

.sidebar-link {
  transition: all .4s;

}
.sidebar-link:hover{
  background-color: #2d6880;
  border-radius: 10px;
  color: white;
  transform: translateY(2px);
}
.current {
  background-color: #2d6880;
  box-shadow: 2px 5px 10px #111;
  border-radius: 10px;
  transition: all .3s;
}

.bd-example-modal-lg .modal-dialog{
  display: table;
  position: relative;
  top: calc(15% - 20px);
  left: 130px;
}

  .bd-example-modal-lg .modal-dialog .modal-content{
    background-color: green;
    width: 600px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 230px;
    border: none;
  }
  .server-changes{
    margin-top: 20px!important;
  }
.current:hover {
   background-color: #2d6880;
  border-radius: 10px;
  box-shadow: 2px 5px 20px #111;
  transform: translateY(-1px);
}
.top-navbar{
  margin-left: 240px!important;
  background-color: #2d6880 !important;
}
/*@media (max-width: 768px) {*/
/*  .sidebar {*/
/*    position: static;*/
/*    height: auto;*/
/*  }*/

/*  .top-navbar {*/
/*    position: static;*/
/*  }*/
/*}*/

/* end of navbar */

.card-common {
  box-shadow: 1px 2px 5px #999;
  transition: all .4s;
  cursor: pointer;
}

.card-common:hover {
  box-shadow: 2px 3px 15px #999;
  transform: translateY(-1px);
}


