body{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.message .success{
    padding: 10px;
    border: 1px solid #00e640;
    color: #00e640;
}
.message .error{
    padding: 10px;
    border: 1px solid #CF000F;
}
.container{
    max-width: 960px;
    margin: 0 auto;
}
form .description{
    font-size: 12px;
    color: black;
}
.form-item{
    margin-bottom: 15px;
}
.form-item label{
    font-weight: 700;
    color: rgba(0,0,0,0.86);
    margin-bottom: 8px;
    display: block;
}
.form-item input[type="text"]{
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.form-action button{
     border: 1px solid rgba(0, 0, 0, 0.5);
     padding: 8px 15px;
}
.tabs{
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.tabs li{
    display: inline-block;
    line-height: 20px;
    font-size: 15px;
    padding: 5px 15px;
    font-weight: 700;
    cursor: pointer;

}
.tabs li.active{
    color: #00e640;
}
#recognize-content, #train-content {

}