body {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
}
a{
  text-decoration: none !important;
}

/* navbar */
.sidebar {
  height: 100vh;
  width: 240px;
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .9)), url("../../static/img/engineering.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 7px 25px #289922;
}
.department{
  color: #bab2b0 !important;
  font-size: 15px !important;
}
.dash-title{
padding-left: 20px;
  font-size: 20px;
}

.bottom-border {
  border-bottom: 1px groove #44e03e;
}

.sidebar-link {
  transition: all .4s;
}
.sidebar-link:hover{
  background-color: #00e640;
  border-radius: 10px;
  color: white;
  transform: translateY(2px);
}
.current {
  background-color: #00e640;
  box-shadow: 2px 5px 10px #111;
  border-radius: 10px;
  transition: all .3s;
}

.bd-example-modal-lg .modal-dialog{
  display: table;
  position: relative;
  top: calc(15% - 20px);
  left: 130px;
}

  .bd-example-modal-lg .modal-dialog .modal-content{
    background-color: green;
    width: 600px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 230px;
    border: none;
  }
  .server-changes{
    margin-top: 20px!important;
  }
.current:hover {
   background-color: #00e640;
  border-radius: 10px;
  box-shadow: 2px 5px 20px #111;
  transform: translateY(-1px);
}
.top-navbar{
  margin-left: 240px!important;
  background-color: #198046 !important;
}
/*@media (max-width: 768px) {*/
/*  .sidebar {*/
/*    position: static;*/
/*    height: auto;*/
/*  }*/

/*  .top-navbar {*/
/*    position: static;*/
/*  }*/
/*}*/

/* end of navbar */

.card-common {
  box-shadow: 1px 2px 5px #999;
  transition: all .4s;
  cursor: pointer;
}

.card-common:hover {
  box-shadow: 2px 3px 15px #999;
  transform: translateY(-1px);
}

.file-selecter{
  margin-left: 280px!important;
  width: 900px;
  padding: 20px;
  position: relative;
}
.file-selecter button{
  background-color: green!important;
  color: white!important;
  padding: 10px!important;
   border:none;
  border-radius: 20px!important;
  cursor: pointer!important;
  position: relative;
  margin-top: 15px;
  left: 340px;
  display: none;
}


.search-container{
  margin-left: 280px!important;
  width: 900px;
  padding: 20px;
  position: relative;
}
.search-container button{
  background-color: green!important;
  color: white!important;
  padding: 10px!important;
   border:none;
  border-radius: 20px!important;
  cursor: pointer!important;
  position: relative;
  margin-top: 15px;
  display: block;
}

.profile-container{
  margin-left: 280px!important;
  width: 900px;
  padding: 20px;
  position: relative;
}
.profile-container button{
    background-color: green!important;
  color: white!important;
  padding: 10px!important;
   border:none;
  border-radius: 20px!important;
  cursor: pointer!important;
  position: relative;
  margin-top: 15px;
  display: block;
}

.profile-container .round{
  border-radius: 50%;
  background-color: red;
}


.profile-container a{
    float: right;
    color: blue;
    cursor: pointer!important;
    margin-top: 10px;
}
.profile-container a:hover{
    color: green!important;
}


.file-selecter img{
  max-width: 650px;
  max-height: 400px;
  margin-left: 120px;
}

.preview-image{
  position: relative;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.results-label{
  text-align: center;
  font-size: 45px!important;

}
.results-p{
  font-size: 20px;
}
table{
  text-align: center;
  font-size: 15px;
  border-collapse: collapse;
  padding: 2px 3px;
}
th{
  background-color: green!important;
  color: white;
}
td,th{
  border: 1px solid #ddd;
  padding: 8px;
}
table tr:nth-child(even){
  background-color: #9a9a9a
}

#datepicker{
padding: 10px;
  color: black;
  border-radius: 15px;
  border: 1px solid blue;
  text-align: center;
}

.error-box{
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-height: 30px;
}



















