/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,800;1,400;1,800&display=swap');
body{
    margin:0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Lecturer Dashboard Styling*/
.card-glance i{
    font-size: 36px;
    color: #777777;
}

.card-glance .col-md-4{
    text-align: center;
}
.table-comments img{
    max-width: 60px;
}
.table-comments .footer a,
.card-posts .stats a{
    color: #777777;
    padding: 0 5px;
}

.card img{
    max-width: 100%;
    border-radius: 4px 4px 0 0;
}
.card-theme{
    position: relative;
}
.card-theme .alert{
    border-radius: 0;
    position: absolute;
    width: 100%;
    top: 18px;
}
.card-theme .footer{
    padding: 10px;
    margin-top: 1px;
    border-top: 1px solid #dddddd;
}
.card-theme .footer .btn{
    margin-left: 4px;
}

.card-posts .stats{
    padding-top: 15px;
}
.card-posts img{
    max-width: 140px;
}
.card-posts .td-actions{
    min-width: 110px;
}


*{
    margin: 0;
    padding: 0;
    outline: none
}
a{
    text-decoration: none !important;
    color: white !important;
}
a:hover{
    color: black;
}
.button{
    display: inline-block !important;
    width: 100%;
    margin-top: 5px;
    height: 40px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: #74e752;
    outline: none;
    transition: all ease 0.5s;

}
.logo-circle{
    height: 26px;
    width: 26px;
    border: 4px solid #ffffff;
    display: inline-block;
    margin-bottom: -2px;
    border-radius: 50%;
    position: relative;
}
.logo-circle::before{
    content: '';
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -4px;
    margin-top: -4px;
}
.mybtn1{
    background-color: #74e752;
    font-size:16px ;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 50px;
    padding: 12px 36px;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index:1 ;
}
.mybtn1:focus{
    box-shadow: none;
}
mybtn1::before{
    content:'';
    position:absolute;
    left: 0;
    right: 0;
    width: 50%;
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    z-index: -1;
    transition: all 0.3s ease;
}
mybtn1:hover::before{
    width: 100%;
}


/*HEADER SECTION STYLING*/
.header{
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.header.navbar{
    padding: 0;
}

.header .navbar.navbar-light .navbar-brand{
    font-size:30px ;
    font-weight: 700;
    color: #f0ffff;
    text-transform: uppercase;
}

.header .navbar #collapsibleNavbar .nav-item .nav-link {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    padding:10px 15px 10px ;
    text-transform: capitalize;
    line-height:26px ;
}


.header .navbar #collapsibleNavbar .nav-item .nav-link .active{
    opacity: 1 !important;
    color: green !important;
}

/*Home Section*/
.home-section{
    padding: 150px 0 200px;

}
.home-section .home-content h1{
font-size: 50px;
    color: #ffffff;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
}
.home-section .home-content p{
    color: #ffffff;
    font-size:18px;
    margin-top:20px ;
    line-height: 28px;
    margin-bottom: 40px;
    text-transform: capitalize;
    opacity: 0.5;
}

.home-section .home-img {
    position: relative;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #71e260 !important;
}
.nav-pills a{
    color: black !important;
}
.login-box{
    width: 400px;
    height: 370px;
    border-radius: 20px;
    elevation:100turn;
    padding: 20px 10px 0 10px ;
    background-color: #ffffff;
    position: absolute;
    left: 150px;
    top:-20px;
    animation: productani01 5s linear infinite;
}
.tab-style{
    padding: 10px;
}
.form-group .formstyle{
    border-radius: 15px;
}

.login-active{
    font-size: 0;
    width: 50px;
    margin-left: 150px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    border-left-color:#74e752 ;
    animation: rotate 1.4s ease 0.5s infinite;
}
.lecturer-signup {
    color: green !important;
    cursor: pointer;
}
.signup-lec{
    margin-top: 20px ;
    margin-left: 50px;
    color: black !important;
    cursor:default;
}

.success{
    position: relative;
    background-color: #ffffff;
    animation: bounce .3s ease-in;
}
.success::before{
    content: '';
    position: absolute;
    background: url("../../static/img/check-circle-solid.svg");
    left: 0;
    right: 0;
    margin:0 auto;
    width: 31px;
    height: 31px;
    line-height: 31px;
}


/*PROJECT SECTION*/
.about-section{
    background-color: red;
    padding: 80px 0 80px;
}







@keyframes bounce {
    0%{
        transform: scale(0.9);
    }
}
@keyframes rotate {
    0%{
        transform:rotate(360deg) ;
    }
}
@keyframes productani01{
    0%,100%{
        transform: translateY(15px);
    }
    50%{
        transform:translateY(-15px);
    }
}
