body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background: url(../../img/eng.JPG);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mybtn1{
     color: #ffffff;
}