<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

      <!--    Bootstrap-->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!--Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lecturer_dashboard.css') }}">
    <title>ADMIN DASHBOARD</title>
  </head>
  <body>

  <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light">
      <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <div class="container-fluid">
          <div class="row">
            <!-- sidebar -->
            <div class="
             sidebar fixed-top">
              <div class="navbar-brand bottom-border mr-3 bg-dark dash-title ">
                  <a href="#" class="text-white d-block  text-center ">ADMIN</a>
                <a href="#" class="department">Dashboard</a>
              </div>
               <ul class="navbar-nav flex-column mt-1">
                <li class="nav-item"><a href="{{ url_for('enroll_student') }}" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-user text-success fa-lg mr-3"></i>Enroll Student</a></li> 
                <li class="nav-item"><a href="{{url_for('admin_add_student')}}" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-plus-circle text-success fa-lg mr-3"></i>Add Student</a></li>
                <li class="nav-item"><a href="{{url_for('admin_add_lecturer')}}" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-plus-circle text-success fa-lg mr-3"></i>Add Lecturer</a></li>           
                <li class="nav-item"><a href="{{url_for('admin_view_student')}}" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-eye text-success fa-lg mr-3"></i>View Student</a></li> 
                <li class="nav-item"><a href="{{url_for('admin_view_lecturer')}}" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-eye text-success fa-lg mr-3"></i>View Lecturer</a></li>           
                <li class="nav-item"><a href="{{url_for('admin_logout')}}" data-toggle="modal" data-target="#sign-out" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-home text-success fa-lg mr-3"></i>Log Out</a></li>           
              </ul>
            </div>
            <!-- end of sidebar -->

            <!-- top-nav -->
<!--            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto  bg-success fixed-top py-1 top-navbar">-->
<!--              <div class="row">-->
<!--                <div class="col-md-3 d-flex flex-row-reverse">-->
<!--                  <ul class="navbar-nav">-->
<!--                    <li class="nav-item icon-parent"><a href="#" class="nav-link icon-bullet"><i class="fas fa-comments text-muted fa-lg"></i></a></li>-->
<!--                    <li class="nav-item icon-parent"><a href="#" class="nav-link icon-bullet"><i class="fas fa-bell text-muted fa-lg"></i></a></li>-->
<!--                    <li class="nav-item ml-md-auto"><a href="#" class="nav-link" data-toggle="modal" data-target="#sign-out"><i class="fas fa-sign-out-alt text-white fa-lg"></i></a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->
            <!-- end of top-nav -->
          </div>

        </div>
      </div>
    </nav>
    <!-- end of navbar -->

  <!-- Main Section -->
  <section class=" container-fluid search-container">
      <h3 class="text-center">Search Student </h3>
      <div class="row justify-content-center bg-primary py-2">
          <div class="col-md-4 mt-3">
              <div class="form-label-group">
          <input type="search" id="searchStudent" placeholder=" Search Student">
              </div>

          </div>
          <div class="col-md-4">
              <button id="querySearch"><i class="fa fa-search text-center mr-sm-1" aria-hidden="true"></i>Search</button>
          </div>
          <div >
              <p class="text-center"  style="display: none;color: red;font-size: 15px" id="error_message"><i class="fa fa-exclamation-circle mr-1 text-danger"></i>Error message</p>
          </div>
      </div>

       
      <div class="row my-3" >
              <div class="col-lg-7 error-box" id="searchStudent" style="display:none;">
                  <h3 class="text-center">Student Not Found</h3>
                  <img id="preview" src="{{ url_for('static', filename='img/nodata.png') }}"  class="img-fluid rounded" alt="Image Preview">
              </div>
      </div>


  </section>
  <!--End Of Main Section -->



     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>





