<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

      <!--    Bootstrap-->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!--Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lecturer_dashboard.css') }}">
    <title>ADMIN DASHBOARD</title>
  </head>
  <body>

  <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light">
      <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <div class="container-fluid">
          <div class="row">
            <!-- sidebar -->
            <div class="
             sidebar fixed-top">
              <div class="navbar-brand bottom-border mr-3 bg-dark dash-title ">
                  <a href="#" class="text-white d-block  text-center ">ADMIN</a>
                <a href="#" class="department">Dashboard</a>
              </div>
               <ul class="navbar-nav flex-column mt-1">
                <li class="nav-item"><a href="{{ url_for('enroll_student') }}" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-user text-success fa-lg mr-3"></i>Enroll Student</a></li> 
                <li class="nav-item"><a href="{{url_for('admin_add_student')}}" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-plus-circle text-success fa-lg mr-3"></i>Add Student</a></li>
                <li class="nav-item"><a href="{{url_for('admin_add_lecturer')}}" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-plus-circle text-success fa-lg mr-3"></i>Add Lecturer</a></li>           
                <li class="nav-item"><a href="{{url_for('admin_view_student')}}" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-eye text-success fa-lg mr-3"></i>View Student</a></li> 
                <li class="nav-item"><a href="{{url_for('admin_view_lecturer')}}" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-eye text-success fa-lg mr-3"></i>View Lecturer</a></li>           
                <li class="nav-item"><a href="{{url_for('admin_logout')}}" data-toggle="modal" data-target="#sign-out" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-home text-success fa-lg mr-3"></i>Log Out</a></li>           
              </ul>
            </div>
            <!-- end of sidebar -->

            <!-- top-nav -->
<!--            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto  bg-success fixed-top py-1 top-navbar">-->
<!--              <div class="row">-->
<!--                <div class="col-md-3 d-flex flex-row-reverse">-->
<!--                  <ul class="navbar-nav">-->
<!--                    <li class="nav-item icon-parent"><a href="#" class="nav-link icon-bullet"><i class="fas fa-comments text-muted fa-lg"></i></a></li>-->
<!--                    <li class="nav-item icon-parent"><a href="#" class="nav-link icon-bullet"><i class="fas fa-bell text-muted fa-lg"></i></a></li>-->
<!--                    <li class="nav-item ml-md-auto"><a href="#" class="nav-link" data-toggle="modal" data-target="#sign-out"><i class="fas fa-sign-out-alt text-white fa-lg"></i></a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->
            <!-- end of top-nav -->
          </div>

        </div>
      </div>
    </nav>
    <!-- end of navbar -->


  <section class="profile-container">
    <div class="container-fluid justify-content-center">
        <form class="row ">
            <div class="col">
                <div class="form-group">
                      <label for="lecturer_fullname">Full Name</label>
                      <input type="text" class="form-control" id="lecturer_fullname" >
                  </div>

                   <div class="form-group">
                      <label for="lecturer_phonenumber"> Phone Number</label>
                      <input type="text" class="form-control" id="lecturer_phonenumber" >
                  </div>
            </div>
            <div class="col bg-dark">

            </div>
            <div class="w-100 "></div>

            <div class="col">
                <div class="form-group">
                      <label for="lecturer_email">Email</label>
                      <input type="email" class="form-control" id="lecturer_email">
                  </div>

                   <div class="form-group">
                      <label for="lecturer_password">Password</label>
                      <input type="password" class="form-control" id="lecturer_password" >
                       <a class="change-password">Change Password</a>
                  </div>

                   <div class="form-group">
                      <label for="lecturer_department">Department</label>
                      <input type="password" class="form-control" id="lecturer_department" >
                  </div>
        <button type="submit">Add</button>
            </div>


            <!-- DETAILS OF FORMS -->



            <!-- END OF FORMS-->

    </form>
    </div>
</section>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>






