<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>FRAS</title>
    <!--Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <!--    Bootstrap-->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- FontAwesome -->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Default Color-->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/skins/green.css') }}">
</head>
<body>
<!--Header Section Start-->
<header class="header fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
        <!-- Brand -->
        <h3 class="navbar-brand"><img src="{{ url_for('static', filename='img/favicon1.png') }}" alt="knust logo" height="50px"> FRAS</h3>
        <!-- Toggler/collapsibe Button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>

            <!-- Navbar links -->
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link active"  href="/">Home</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Project</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Team</a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
            </ul>
          </div>
        </nav>
            </div>
</header>
<!--Header Section End-->


<!-- Home Section Start-->
<section class="home-section bg">
    <div class="container">
        <div class="row">
            <!-- Page Left -->
            <div class="col-lg-6">
                <div class="home-content">
                    <h1>Facial Recognition Attendance Management System</h1>
                    <p>Take a Picture,Train The Model, Sit Back and watch our
                        model catch the students who dont like coming for your class</p>


                    <a href="#" class="mybtn1"><span class="glyphicon glyphicon-envelope"></span>Take Attendance</a>
                </div>

            </div>

            <!--Page Right -->
            <div class="col-lg-6">
                <div class="login-box ">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#lecturer-login">Lecturer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#student-login">Student</a>
                        </li>
                    </ul>

                    <div class="tab-content tab-style">
                        <div id="lecturer-login" class="tab-pane show fade in active">
                            <form action ="{{ url_for('lecturerlogin') }}" method="post">
                                <div class="form-group">
                                    <label for="validationCustomUsername">Email</label>
                                    <input type="email" name="email" class="form-control formstyle" id="validationCustomUsername" aria-describedby="emailHelp" required>
                                    <div class="invalid-feedback">
                                        Invalid Email
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" name="password" class="form-control formstyle" id="exampleInputPassword1" required>
                                    <div class="invalid-feedback">
                                        Please choose a username.
                                    </div>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox"  class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                                </div>
                                 <button class="button btn-ladda" data-style="expand-left" >Login</button>
                                <a href="{{ url_for('lecturer_sign_up') }}" class="signup-lec">Dont have an account yet? <span class="lecturer-signup">Sign Up</span></a>
                                </form>
                        </div>

                        <!--STUDENT LOGIN-->
                        <div id="student-login" class="tab-pane fade">
                           <form action ="{{ url_for('studentlogin') }}" method="post">
                                <div class="form-group">
                                    <label for="studentEmail">Index Number</label>
                                    <input type="text" name="indexnumber" class="form-control formstyle" id="studentEmail" aria-describedby="emailHelp" required>
                                    <div class="invalid-feedback">
                                        Invalid Email
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="studentPassword">Password</label>
                                    <input type="password" name="password" class="form-control formstyle" id="studentPassword" required>
                                    <div class="invalid-feedback">
                                        Please choose a username.
                                    </div>
                                </div>
                                <div class="form-group form-check">
                                    <input type="checkbox"  class="form-check-input" id="exampleCheck2">
                                    <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                                </div>
                                 <button class="button btn-ladda" data-style="expand-left" >Login</button>
                                <a href="{{ url_for('student_sign_up') }}" class="signup-lec">Dont have an account yet? <span class="lecturer-signup">Sign Up</span></a>
                                </form>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
</section>


<!-- Home Section End -->

<!-- PROJECT SECTION -->
<!--<section class="about-section" >-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-6">-->
<!--                <div class="about-img">-->
<!--                    <img src="../static/img/engineering.jpg">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</section>-->
<!-- PROJECT SECTION END -->





</body><script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</html>