<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!--Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">



    <title>Lecturer | FRAS</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h3 class="login-heading text-success mb-4"><img src="{{ url_for('static', filename='img/favicon1.png') }}" alt="knust logo" height="50px"> Lecturer Sign Up </h3>

                                <form id="lecturer_register"  method="post" enctype=multipart/form-data oninput='password.setCustomValidity(password.value != confirmpassword.value ? "Passwords do not match." : "")'>

                                    <div class="form-label-group">
                                        <input type="text" id="inputFirst" name="firstname" class="form-control"
                                            placeholder="First Name" required autofocus>
                                        <label for="inputFirst">First Name</label>
                                    </div>

                                    <div class="form-label-group">
                                        <input type="text" id="inputLast" name="lastname" class="form-control" placeholder="Last Name"
                                            required>
                                        <label for="inputLast">Last Name</label>
                                    </div>


                                    <div class="form-label-group">
                                        <input type="email" name="email" id="inputEmail" class="form-control"
                                            placeholder="Email address" required>
                                        <label for="inputEmail">Email address</label>
                                    </div>

                                    <div class="form-label-group">
                                        <input type="password" name="password" id="inputPassword" class="form-control"
                                            placeholder="Password" required>
                                        <label for="inputPassword">Password</label>
                                    </div>

                                    <div class="form-label-group">
                                        <input type="password" name="confirmpassword" id="confirmPassword" class="form-control"
                                            placeholder="Confirm Password" required>
                                        <label for="confirmPassword">Confirm Password</label>
                                    </div>

                                    <div class="form-label-group">
                                        <input type="number" name="phonenumber" id="phonenumber" class="form-control"
                                            placeholder="Confirm Password" required>
                                        <label for="phonenumber">Phone Number</label>
                                    </div>

                                    <select class="custom-select rounded-lg mb-2 " id="depart"  name="department" required>
                                        <option selected> Choose your department:</option>
                                        <option value="Computer Engineering"> Computer Engineering</option>
                                        <option value="Electrical Engineering">Electrical Engineering</option>
                                        <option value=" Telecommunication Engineering"> Telecommunication Engineering</option>
                                    </select>


                                    <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">SUBMIT</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>


</html>