<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

      <!--    Bootstrap-->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!--Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lecturer_dashboard.css') }}">
    <title>Lecturer Dashboard</title>
  </head>
  <body>

  <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light">
      <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <div class="container-fluid">
          <div class="row">
            <!-- sidebar -->
            <div class="
             sidebar fixed-top">
              <div class="navbar-brand bottom-border py-4  dash-title ">
                  <a href="#" class="text-white d-block text-center ">{{name}}</a>
                <a href="#" class="department">{{department}}</a>
              </div>
               <ul class="navbar-nav flex-column mt-1">
                <li class="nav-item"><a href="{{ url_for('lecturerhomepage') }}" class="nav-link text-white p-3 mb-2 current"><i class="fas fa-home text-success fa-lg mr-3"></i>Take Attendance</a></li>
                <li class="nav-item"><a href="{{ url_for('view_attendance') }}" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-user-graduate text-success fa-lg mr-3"></i>View Attendance</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-list text-success fa-lg mr-3"></i>Profile</a></li>
                <li class="nav-item"><a href="{{ url_for('lecturer_logout') }}" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-sign-out-alt text-success fa-lg mr-3"></i>Logout</a></li>
<!--                <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-table text-light fa-lg mr-3"></i>Tables</a></li>-->
<!--                <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-wrench text-light fa-lg mr-3"></i>Settings</a></li>-->
<!--                <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-file-alt text-light fa-lg mr-3"></i>Documentation</a></li>-->
              </ul>
            </div>
            <!-- end of sidebar -->

            <!-- top-nav -->
<!--            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto  bg-success fixed-top py-1 top-navbar">-->
<!--              <div class="row">-->
<!--                <div class="col-md-3 d-flex flex-row-reverse">-->
<!--                  <ul class="navbar-nav">-->
<!--                    <li class="nav-item icon-parent"><a href="#" class="nav-link icon-bullet"><i class="fas fa-comments text-muted fa-lg"></i></a></li>-->
<!--                    <li class="nav-item icon-parent"><a href="#" class="nav-link icon-bullet"><i class="fas fa-bell text-muted fa-lg"></i></a></li>-->
<!--                    <li class="nav-item ml-md-auto"><a href="#" class="nav-link" data-toggle="modal" data-target="#sign-out"><i class="fas fa-sign-out-alt text-white fa-lg"></i></a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->
            <!-- end of top-nav -->
          </div>

        </div>
      </div>
    </nav>
    <!-- end of navbar -->

  <!-- modal -->
    <div class="modal fade" id="sign-out">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Are you sure you want to logout?</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-footer">
              <form action="{{ url_for('lecturer_logout') }}" method="get">
                  <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-danger">Logout</button>
              </form>


          </div>
        </div>

      </div>
    </div>
    <!-- end of modal -->

  <!-- file-input -->
    <section class="container-fluid file-selecter">
        <div  id="main_place">
            <h4 class="text-center heading">Select a picture and let our model take care of the rest </h4>
            <form method="post" id="recognize" enctype=multipart/form-data class="md-form">
                <div class="custom-file py-3">
                    <input onchange="readURL(this)" accept='image/*' name="file" type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>

                <button id="take-attendance" type="submit" ><i class="fas fa-check text-white fa-lg mr-3 ml-2"></i>Take Attendance</button>
            </form>

            <div class="preview-image">
                <img id="preview" src="{{ url_for('static', filename='img/starwars.jpg') }}" class="img-fluid rounded" alt="Image Preview">
            </div>
        </div>


        <div id="replace" style="display: none">
            <h3 class="text-success results-label">Results</h3>
            <p class="text-center results-p"></p>
            <div id="query-show" style="overflow-x:auto;"></div>
            <div class="preview-image">
            <img id="preview-img" src="" class="img-fluid rounded" alt="Image Preview">
            </div>

        </div>



    </section>
    <!-- end of cards -->

  <!-- Loading Modal -->
  <div class="modal modal-spinner fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
           <div class="spinner-border text-white" style="width: 6rem; height: 6rem;" role="status">
               <span class="sr-only">Loading...</span>
               </div>
            <div class="server-changes  text-white">
                <h4 class="spinner-changes">Commencing Facial Detection</h4>
            </div>
        </div>
    </div>
</div>

  <!-- End of loading Modal -->


    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>






