<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

      <!--    Bootstrap-->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!--Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lecturer_dashboard.css') }}">
    <title>Profile</title>
  </head>
  <body>

  <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light">
      <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <div class="container-fluid">
          <div class="row">
            <!-- sidebar -->
            <div class="
             sidebar fixed-top">
              <div class="navbar-brand bottom-border mr-3 py-4 dash-title ">
                  <a href="#" class="text-white d-block  text-center ">{{name}}</a>
                <a href="#" class="department">{{department}}</a>
              </div>
               <ul class="navbar-nav flex-column mt-1">
                <li class="nav-item"><a href="{{ url_for('lecturerhomepage') }}" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-home text-success fa-lg mr-3"></i>Take Attendance</a></li>
                <li class="nav-item"><a href="{{ url_for('view_attendance') }}" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-user-graduate text-success fa-lg mr-3"></i>View Attendance</a></li>
                <li class="nav-item"><a href="{{ url_for('lecturer_profile') }}"  class="nav-link text-white p-3 mb-2 current"><i class="fas fa-user text-success fa-lg mr-3"></i>Profile</a></li>
                <li class="nav-item"><a href="{{ url_for('lecturer_logout') }}" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-sign-out-alt text-success fa-lg mr-3"></i>Logout</a></li>
<!--                <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-table text-light fa-lg mr-3"></i>Tables</a></li>-->
<!--                <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-wrench text-light fa-lg mr-3"></i>Settings</a></li>-->
<!--                <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-file-alt text-light fa-lg mr-3"></i>Documentation</a></li>-->
              </ul>
            </div>

          </div>

        </div>
      </div>
    </nav>
    <!-- end of navbar -->

  <!-- modal -->
    <div class="modal fade" id="sign-out">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Are you sure you want to logout?</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-footer">
              <form action="{{ url_for('lecturer_logout') }}" method="get">
                  <button type="button" class="btn btn-success" data-dismiss="modal">Stay Here</button>
                  <button type="Logout" class="btn btn-danger">Logout</button>
              </form>

          </div>
        </div>
      </div>
    </div>
    <!-- end of modal -->

  <!--PROFILE SECTION-->
<section class="profile-container">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <!-- DETAILS OF FORMS -->
            <div class="col-lg-6 ">
               <form>
                  <div class="form-group">
                      <label for="lecturer_fullname">Full Name</label>
                      <input type="text" class="form-control" id="lecturer_fullname" >
                  </div>

                   <div class="form-group">
                      <label for="lecturer_email">Email</label>
                      <input type="email" class="form-control" id="lecturer_email">
                  </div>

                   <div class="form-group">
                      <label for="lecturer_password">Password</label>
                      <input type="password" class="form-control" id="lecturer_password" disabled>
                       <a class="change-password">Change Password</a>
                  </div>

                   <div class="form-group">
                      <label for="lecturer_department">Department</label>
                      <input type="password" class="form-control" id="lecturer_department" disabled>
                  </div>

                   <div class="form-group">
                      <label for="lecturer_phonenumber">Phone Number</label>
                      <input type="number" class="form-control" id="lecturer_phonenumber">
                  </div>
                   <button type="submit">Save</button>
               </form>

            </div>
            <!-- END OF FORMS-->

    </div>
    </div>
</section>
  <!-- END OF PROFILE SECTION -->


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>






