<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

      <!--    Bootstrap-->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!--Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student_dashboard.css') }}">
    <title>Profile</title>
  </head>
  <body>

  <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light">
      <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <div class="container-fluid">
          <div class="row">
            <!-- sidebar -->
            <div class="
             sidebar fixed-top">
              <div class="navbar-brand bottom-border py-4 mr-3 dash-title ">
                  <a href="#" class="text-white d-block  text-center ">Student Name</a>
                <a href="#" class="department">Student Department</a>
              </div>
               <ul class="navbar-nav flex-column mt-1">
                <li class="nav-item"><a href="{{ url_for('studenthomepage') }}" class="nav-link text-white p-3 mb-4 sidebar-link "><i class="fas fa-clipboard text-success fa-lg mr-3"></i>View Attendance</a></li>
                <li class="nav-item"><a href="{{ url_for('student_complaint') }}" class="nav-link text-white p-3 mb-4 sidebar-link"><i class="fas fa-exclamation-circle text-success fa-lg mr-3"></i>Launch Complaint</a></li>
                <li class="nav-item"><a href="{{ url_for('student_profile') }}" class="nav-link text-white p-3 mb-4 current"><i class="fas fa-user text-success fa-lg mr-3"></i>Profile</a></li>
                <li class="nav-item"><a href="#" data-toggle="modal" data-target="#sign-out" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-sign-out-alt text-success fa-lg mr-3"></i>Logout</a></li>

              </ul>
            </div>
            <!-- end of sidebar -->



<!--            </div>-->
            <!-- end of top-nav -->
          </div>

        </div>
      </div>
    </nav>
    <!-- end of navbar -->

  <!-- modal -->
    <div class="modal fade" id="sign-out">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Are you sure you want to logout?</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-footer">
              <form action="{{ url_for('lecturer_logout') }}" method="get">
                  <button type="button" class="btn btn-success" data-dismiss="modal">Stay Here</button>
                  <button type="Logout" class="btn btn-danger">Logout</button>
              </form>

          </div>
        </div>
      </div>
    </div>
    <!-- end of modal -->

  <section class="profile-container">
    <div class="container-fluid justify-content-center">
        <form class="row ">
            <div class="col">
                <div class="form-group">
                      <label for="student_fullname">Full Name</label>
                      <input type="text" class="form-control" id="student_fullname" >
                  </div>

                   <div class="form-group">
                      <label for="student_indexnumber">Index Number</label>
                      <input type="text" class="form-control" id="student_indexnumber" disabled>
                  </div>

                <div class="form-group">
                      <label for="student_year">Year </label>
                      <input type="text" class="form-control" id="student_year" disabled>
                  </div>

            </div>
            <div class="col bg-dark">

            </div>
            <div class="w-100 "></div>

            <div class="col">
                <div class="form-group">
                      <label for="lecturer_email">Email</label>
                      <input type="email" class="form-control" id="lecturer_email">
                  </div>

                   <div class="form-group">
                      <label for="lecturer_password">Password</label>
                      <input type="password" class="form-control" id="lecturer_password" disabled>
                       <a class="change-password">Change Password</a>
                  </div>

                   <div class="form-group">
                      <label for="lecturer_department">Department</label>
                      <input type="password" class="form-control" id="lecturer_department" disabled>
                  </div>
        <button type="submit">Save</button>
            </div>


            <!-- DETAILS OF FORMS -->



            <!-- END OF FORMS-->

    </form>
    </div>
</section>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>






