<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

     <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <!--Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student_signup.css') }}">




    <title>Sign up | Student</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9  col-lg-8 mx-auto">
                                <h3 class="login-heading text-success mb-4"><img src="{{ url_for('static', filename='img/favicon1.png') }}" alt="knust logo" height="50px"> Student Sign Up</h3>
                                <form role="form" action="" method="post" enctype=multipart/form-data id="student_registration" class="py-lg-2 px-lg-2">


                                    <!--FIRST FIELDSET-->
                                    <fieldset>
                                        <div class="form-label-group my-lg-3">
                                            <input type="text" id="student_firstname" name="firstname" class="form-control"  placeholder="First Name">
                                            <label for="student_firstname">First Name</label>
                                        </div>

                                        <div class="form-label-group my-lg-3">
                                             <input type="text" id="student_lastname" name="lastname" class="form-control" placeholder="Last Name"
                                            required>
                                             <label for="student_lastname">Last Name</label>
                                         </div>

                                        <select class="custom-select rounded-lg my-3  " id="student_year" class="form-control"  name="student_year">
                                            <option selected>Select Year</option>
                                            <option  value="Year 1 ">Year 1</option>
                                            <option value="Year 2"> Year 2</option>
                                            <option value="Year 3">Year 3</option>
                                            <option value="Year 4"> Year 4</option>
                                        </select>

                                        <select class="custom-select rounded-lg mb-2 " id="depart" class="form-control"  name="student_department">
                                            <option selected value="Computer Engineering"> Computer Engineering</option>
                                            <option value="Electrical Engineering">Electrical Engineering</option>
                                            <option value=" Telecommunication Engineering"> Telecommunication Engineering</option>
                                        </select>
                                        <button type="button" class="btn btn-next btn-primary float-right btn-login my-lg-3 mb-2">Next</button>
                                    </fieldset>
                                    <!--END OF FIRST FIELDSET-->

                                    <!--SECOND FIELDSET-->
                                    <fieldset>
                                        <div class="form-label-group my-lg-3">
                                            <input type="number" id="student_indexnumber" name="index_number" class="form-control" placeholder="Index Number"  >
                                            <label for="student_indexnumber">Index Number</label>
                                        </div>

                                        <div class="form-label-group my-lg-3">
                                             <input type="email" id="student_email" name="email" class="form-control"  placeholder=Email">
                                             <label for="student_email">Email</label>
                                         </div>

                                        <div class="form-label-group my-lg-3">
                                             <input type="text" id="student_password" name="password" class="form-control" placeholder="Password">
                                             <label for="student_password">Password</label>
                                         </div>

                                         <button type="button" class="btn btn-primary btn-previous float-left btn-login my-lg-3 mb-2">Previous</button>
                                         <button type="button" class="btn btn-primary btn-next float-right btn-login my-lg-3 mb-2">Next</button>

                                    </fieldset>
                                    <!--END OF SECOND FIELDSET-->

                                    <!--3RD FIELDSET -->
                                    <fieldset>
                                        <div class="text-center mb-4">
                                            <h6>Instructions Below Upload</h6>
                                            <h6>Rename your picture with your index number before upload</h6>
                                        </div>
                                        <div class="text-center text-dark">
                                            <h6 >Upload a picture of your face only to let the model recognise you</h6>
                                        </div>
                                        <div class="preview-image">
                                             <img class="img-fluid rounded-sm" id="student_image" src="{{ url_for('static', filename='img/engineering.jpg') }}" alt="User Picture">
                                        </div>

                                        <div class="d-inline-block  my-2 mx-3">
<!--                                            <button id="take_picture" class="btn btn-primary btn-login "><i class="fas fa-camera text-white fa-lg mr-2"></i>Take Picture</button>-->
                                            <input  type="button" id="get_file" class="btn-login text-white" value="Upload Picture">
                                            <input onchange="studentUpload(this)" type="file" id="my_file" accept="image/*">

                                        </div>

                                        <div>
                                             <button type="button" class="btn btn-primary btn-previous float-left btn-login my-lg-3 mb-2">Previous</button>
                                            <button type="submit" class="btn btn-primary float-right btn-login my-lg-3 mb-2">Sign Up</button>
                                        </div>
                                    </fieldset>




                                    <!--END OF 3RD FIELDSET -->

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



   <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.backstretch.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/retina-1.1.0.min.js') }}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>