<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

      <!--    Bootstrap-->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!--Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student_dashboard.css') }}">
    <title>Make A Complain</title>
  </head>
  <body>

  <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light">
      <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <div class="container-fluid">
          <div class="row">
            <!-- sidebar -->
            <div class="
             sidebar fixed-top">
              <div class="navbar-brand bottom-border py-4 mr-3 dash-title ">
                  <a href="#" class="text-white d-block  text-center ">Student Name</a>
                <a href="#" class="department">Student Department</a>
              </div>
               <ul class="navbar-nav flex-column mt-1">
                <li class="nav-item"><a href="{{ url_for('studenthomepage') }}" class="nav-link text-white p-3 mb-4 sidebar-link "><i class="fas fa-clipboard text-success fa-lg mr-3"></i>View Attendance</a></li>
                <li class="nav-item"><a href="{{ url_for('student_complaint') }}" class="nav-link text-white p-3 mb-4 current"><i class="fas fa-exclamation-circle text-success fa-lg mr-3"></i>Launch Complaint</a></li>
                <li class="nav-item"><a href="{{ url_for('student_profile') }}" class="nav-link text-white p-3 mb-4 sidebar-link"><i class="fas fa-user text-success fa-lg mr-3"></i>Profile</a></li>
                <li class="nav-item"><a href="#" data-toggle="modal" data-target="#sign-out" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-sign-out-alt text-success fa-lg mr-3"></i>Logout</a></li>

              </ul>
            </div>
            <!-- end of sidebar -->

            <!-- top-nav -->
<!--            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto  bg-success fixed-top py-1 top-navbar">-->
<!--              <div class="row">-->
<!--                <div class="col-md-3 d-flex flex-row-reverse">-->
<!--                  <ul class="navbar-nav">-->
<!--                    <li class="nav-item icon-parent"><a href="#" class="nav-link icon-bullet"><i class="fas fa-comments text-muted fa-lg"></i></a></li>-->
<!--                    <li class="nav-item icon-parent"><a href="#" class="nav-link icon-bullet"><i class="fas fa-bell text-muted fa-lg"></i></a></li>-->
<!--                    <li class="nav-item ml-md-auto"><a href="#" class="nav-link" data-toggle="modal" data-target="#sign-out"><i class="fas fa-sign-out-alt text-white fa-lg"></i></a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->
            <!-- end of top-nav -->
          </div>

        </div>
      </div>
    </nav>
    <!-- end of navbar -->

  <!-- modal -->
    <div class="modal fade" id="sign-out">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Are you sure you want to logout?</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-footer">
              <form action="{{ url_for('lecturer_logout') }}" method="get">
                  <button type="button" class="btn btn-success" data-dismiss="modal">Stay Here</button>
                  <button type="Logout" class="btn btn-danger">Logout</button>
              </form>

          </div>
        </div>
      </div>
    </div>
    <!-- end of modal -->

  <!-- cards -->
<!--    <section>-->
<!--      <div class="container-fluid">-->
<!--        <div class="row">-->
<!--          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">-->
<!--            <div class="row pt-md-5 mt-md-3 mb-5">-->
<!--              <div class="col-xl-3 col-sm-6 p-2">-->
<!--                <div class="card card-common">-->
<!--                  <div class="card-body">-->
<!--                    <div class="d-flex justify-content-between">-->
<!--                      <i class="fas fa-shopping-cart fa-3x text-warning"></i>-->
<!--                      <div class="text-right text-secondary">-->
<!--                        <h5>Sales</h5>-->
<!--                        <h3>$135,000</h3>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="card-footer text-secondary">-->
<!--                    <i class="fas fa-sync mr-3"></i>-->
<!--                    <span>Updated Now</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="col-xl-3 col-sm-6 p-2">-->
<!--                <div class="card card-common">-->
<!--                  <div class="card-body">-->
<!--                    <div class="d-flex justify-content-between">-->
<!--                      <i class="fas fa-money-bill-alt fa-3x text-success"></i>-->
<!--                      <div class="text-right text-secondary">-->
<!--                        <h5>Expenses</h5>-->
<!--                        <h3>$39,000</h3>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="card-footer text-secondary">-->
<!--                    <i class="fas fa-sync mr-3"></i>-->
<!--                    <span>Updated Now</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->


<!--              <div class="col-xl-3 col-sm-6 p-2">-->
<!--                <div class="card card-common">-->
<!--                  <div class="card-body">-->
<!--                    <div class="d-flex justify-content-between">-->
<!--                      <i class="fas fa-users fa-3x text-info"></i>-->
<!--                      <div class="text-right text-secondary">-->
<!--                        <h5>Users</h5>-->
<!--                        <h3>15,000</h3>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="card-footer text-secondary">-->
<!--                    <i class="fas fa-sync mr-3"></i>-->
<!--                    <span>Updated Now</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-xl-3 col-sm-6 p-2">-->
<!--                <div class="card card-common">-->
<!--                  <div class="card-body">-->
<!--                    <div class="d-flex justify-content-between">-->
<!--                      <i class="fas fa-chart-line fa-3x text-danger"></i>-->
<!--                      <div class="text-right text-secondary">-->
<!--                        <h5>Visitors</h5>-->
<!--                        <h3>45,000</h3>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="card-footer text-secondary">-->
<!--                    <i class="fas fa-sync mr-3"></i>-->
<!--                    <span>Updated Now</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
    <!-- end of cards -->



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>






