<!doctype html>
<html>
<head>
    <title>Facial Recognition Service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='lodash.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='immutable.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='axios.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body>


<div class="container">
    <h1>Facial Recognition</h1>

    <ul class="tabs">
        <li data-section="train-content">Train it</li>
        <li data-section="recognize-content">Recognize</li>
    </ul>
    <div id="train-content">
        <h2>Train it</h2>
        <form method="post" action="{{ url_for('train') }}" id="train" enctype=multipart/form-data>
            <div class="message">

            </div>
            <p class="description">Pre-training our service. Upload an image contain the face and give it full name for
                recognize later</p>
            <div class="form-item">
                <label for="input-file">Face image</label>
                <input type="file" name="file" id="input-file" accept="image/*"/>
            </div>
            <div class="form-item">
                <label>Full name</label>
                <input id="name-field" name="form" value="" type="text" placeholder="Full name"/>
            </div>
            <div class="form-action">
                <button type="submit">Begin train it</button>
            </div>
        </form>
    </div>

    <div id="recognize-content">
        <h2>Recognize</h2>

        <form method="post" action="{{ url_for('recognize') }}" id="recognize" enctype=multipart/form-data>
            <div class="message">

            </div>
            <p class="description">Upload an image and i will tell to you who is is the picture.</p>
            <div class="form-item">
                <label for="input-file">Image</label>
                <input type="file" name="file" id="recognize-input-file" accept="image/*"/>
            </div>

            <div class="form-action">
                <button type="submit">Recognize it</button>
            </div>
        </form>
    </div>

</div>
</body>
</html>