<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

      <!--    Bootstrap-->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/lecturer_dashboard.css') }}">

      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

       <!-- Compiled and minified CSS -->
    <!-- Compiled and minified JavaScript -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>

    <!--Main css -->

    <title>View Attendance</title>
  </head>
  <body>

  <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light">
      <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <div class="container-fluid">
          <div class="row">
            <!-- sidebar -->
            <div class="
             sidebar fixed-top">
              <div class="navbar-brand bottom-border py-5 mr-3 dash-title ">
                  <a href="#" class="text-white d-block  text-center ">{{name}}</a>
                <a href="#" class="department">{{department}}</a>
              </div>
               <ul class="navbar-nav flex-column mt-1">
                <li class="nav-item"><a href="{{ url_for('lecturerhomepage') }}" class="nav-link text-white p-3 mb-4 sidebar-link "><i class="fas fa-home text-success fa-lg mr-3"></i>Take Attendance</a></li>
                <li class="nav-item"><a href="{{ url_for('view_attendance') }}" class="nav-link text-white p-3 mb-4  current sidebar-link"><i class="fas fa-user-graduate text-success fa-lg mr-3"></i>View Attendance</a></li>
                <li class="nav-item"><a href="{{ url_for('lecturer_profile') }}" class="nav-link text-white p-3 mb-4  sidebar-link"><i class="fas fa-list text-success fa-lg mr-3"></i>Profile</a></li>
                <li class="nav-item"><a href="#" data-toggle="modal" data-target="#sign-out" class="nav-link text-white p-3 mb-4 sidebar-link"><i class="fas fa-sign-out-alt text-success fa-lg mr-3"></i>Logout</a></li>
<!--                <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-table text-light fa-lg mr-3"></i>Tables</a></li>-->
<!--                <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-wrench text-light fa-lg mr-3"></i>Settings</a></li>-->
<!--                <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-file-alt text-light fa-lg mr-3"></i>Documentation</a></li>-->
              </ul>
            </div>
            <!-- end of sidebar -->

          </div>

        </div>
      </div>
    </nav>
    <!-- end of navbar -->

  <!-- modal -->
    <div class="modal fade" id="sign-out">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Are you sure you want to logout?</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-footer">
              <form action="{{ url_for('lecturer_logout') }}" method="get">
                  <button type="button" class="btn btn-success" data-dismiss="modal">Stay Here</button>
                  <button type="Logout" class="btn btn-danger">Logout</button>
              </form>

          </div>
        </div>
      </div>
    </div>
    <!-- end of modal -->

  <!-- Main Section -->
  <section class=" container-fluid search-container">
      <h3 class="text-center">Pick a date to view Attendance list </h3>
      <div class="row justify-content-center bg-primary py-2">
          <div class="col-md-4 mt-3">
              <div class="form-label-group">
          <input type="text" id="datepicker" placeholder="Select Date">
              </div>

          </div>
          <div class="col-md-4">
              <button id="querytable"><i class="fa fa-search text-center mr-sm-1" aria-hidden="true"></i> Generate</button>
          </div>
          <div >
              <p class="text-center"  style="display: none;color: red;font-size: 15px" id="error_message"><i class="fa fa-exclamation-circle mr-1 text-danger"></i>Error message</p>
          </div>
      </div>

       <!--TABLE GENERATOR-->
          <div class="row my-1 bg-danger" >
              <div ID="queryresults" style="display: block">
                  <div id="query-show" style="overflow-x:auto;"></div>
              </div>
          </div>

      <div class="row my-3" >
              <div class="col-lg-7 error-box" id="nodata" style="display:none;">
                  <h3 class="text-center">No Attendance was Recorded</h3>
                  <img id="preview" src="{{ url_for('static', filename='img/nodata.png') }}"  class="img-fluid rounded" alt="Image Preview">
              </div>
      </div>


  </section>
  <!--End Of Main Section -->



     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>






